<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>
<html>
   <html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Este workshop es parte de una iniciativa mucho mas grande: Django Girls. Es una organización sin fines de lucro y los eventos son organizados por voluntarios en diferentes partes del mundo.

Para ver el código fuente, encontranos en Github: github.com/DjangoGirls.

Si querés hacer un Django Girls en tu ciudad, escribinos. .</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Si sos mujer y podés disponer de una compu portátil, entonces podés inscribirte ya. No necesitás ningún tipo de conocimiento técnico, el workshop está diseñado para personas totalmente nuevas en programación. .</p>
        </div>
    </body>
</html>
